---
layout: default
title: Cookies Policy
description: "On this page you can find information on the GitLab Cookies Policy. Learn more!"
canonical_path: "/privacy/cookies/"
---


.container.txt-lefty
  .row
    .col-sm-9.col-md-9
      %p This Cookie Policy supplements the information contained in our Privacy Policy and explains how we use cookies and related technologies to manage and provide our GitLab websites, products and services; collectively referred to as the "Services."
      %p Cookies are small text files placed on your computer. Pixels are small amounts of code on a web page or in an email that provide a method to deliver content, such as a graphic image on a webpage.

      #why-do-we-use-cookies

        %h3 Why do we use Cookies?

        %p GitLab uses cookies to:

        %li Help you to access and use the Services;
        %li Understand how visitors use and engage with our Services;
        %li Set your preferences;
        %li Deliver relevant interest-based advertising;
        %li Understand if you have opened an email and acted upon it; and
        %li Analyze and improve our Services.

      #who-set-cookies
        %h3 Who sets Cookies on GitLab?

        %p Cookies are sometimes placed by GitLab, known as first-party cookies, and sometimes third-party cookies are set by our service providers, such as Google Analytics who provides analytics and interest-based advertising.  When third-party cookies are set by service providers, they are providing a service or function to GitLab, as well as achieving the service provider's own purposes. GitLab cannot control how third-party cookies are used. You can review Google Analytics' available opt-outs, including the Google Analytics Browser Ad-On by visiting: https://tools.google.com/dlpage/gaoptout/. 

      #how-do-i-manage-my-cookies
        %h3 How do I manage my Cookies?

        %p GitLab has unified our cookie management tool across all GitLab domains providing users with a central location to manage your cookie preferences. With the exception of "strictly necessary" cookies that are essential for the Services to operate, you will be able to opt-in, opt-out, or adjust your cookie preferences for all other cookie categories. Please note that disabling some cookies may cause certain features of the Services to not function properly. This tool can be accessed by clicking on the Cookie Preferences link located at the bottom of each webpage. 

        %p Most web browsers also allow you to delete cookies already placed, which may delete the settings and preferences controlled by those cookies, including advertising preferences. You can find instructions to remove any cookies that have been created in the cookie folder of your browser at https://allaboutcookies.org/manage-cookies/.

      
      #do-not-track
        %h3 Do Not Track Signals

        %p "Do Not Track" (DNT) is a privacy preference you can set in your web browser to indicate that you do not want to be tracked. GitLab responds to DNT signals and respects a user's track preference expression for client-side events.

      #self-regulatory-programs
        %h3 Self-Regulatory programs

        %p Service providers may participate in self-regulatory programs that provide ways to opt out of analytics and interest-based advertising, which you can access at:

        %li United States: NAI (http://optout.networkadvertising.org) and DAA (http://optout.aboutads.info/)
        %li Canada: Digital Advertising Alliance of Canada (https://youradchoices.ca/)
        %li Europe:  European Digital Advertising Alliance (http://www.youronlinechoices.com)


      #web-beacons
        %h3 Web beacons

        %p Most email clients have settings which allow you to prevent the automatic downloading of images, which will disable web beacons in the email messages you read.

      #mobile-advertising-ids 
        %h3 Mobile Advertising IDs
            
        %p On mobile devices, advertising IDs provided by the platform may be collected and used similar to cookie IDs. You may use the controls on iOS and Android operating systems that allow you to limit tracking and/or reset the advertising IDs. 


      #what-types-of-cookies-do-we-use
        %h3 What types of Cookies do we use?

        %p GitLab utilizes four categories of cookies:  strickly necessary cookies, functional cookies, performance and analytics cookies, as well as targeting and advertising cookies. You can read more about each of these types of cookies and view the cookies within each category that can be found in the Services by clicking on the Cookies Preferences link located at the bottom of each webpage. 
